/__pycache__
/virtenvs
ca_scripts.egg-info
*.pyc
tags

# Ignore all but the two config exmple files in the /config
# direcrory
!/config
!/config/example/openssl_root.config
!/config/example/openssl_intermediate.config
/config/*
